/* UNIVERSAL */

html {
	font-size: 18px;
	color: #4C4C4C;
}

body {
	font-family: Arial;
	line-height: 1.4;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h5 {
	font-size: 0.7rem;
}

/* HEADER */

header {
	display: flex;
	align-items: center;
	width: 100%;
	height: 64px;
}

header img {
	padding-left: 24px;
}

header .logo.text1 {
	display: flex;
	align-items: center;
	height: 32px;
	font-weight: bold;
}

header .logo.text2 {
	display: flex;
	align-items: center;
	height: 32px;
	color: grey;
}

nav {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

nav .menu {
	padding-right: 16px;
}

nav .menu.signin {
	padding-right: 24px;
}

nav .menu.mobile {
		visibility: hidden;
}

@media only screen and (max-width: 480px) {
	header .logo.text1 {
		display: none;
	}

	header .logo.text2 {
		display: none;
	}

	nav .menu {
		display: none;
	}

	nav .menu.mobile {
		visibility: visible;
		display: flex;
		justify-content: space-around;
		width: 100%;
	}
}

/* TOP BANNER */

.banner {
	display: flex;
	background-color: #D3D3D3;
}

.banner .content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.banner .content h1 {
	font-weight: bold;
}

.banner img {
	width: 60%;
	height: 100%;
	padding: 32px 24px;
}

.banner .content .button {
	width: 100%;
	color: white;
	background-color: #6f6f6f;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}

@media only screen and (max-width: 480px) {
	.banner {
		display: flex;
		flex-direction: column;
	}

	.banner img {
		width: 100%;
		padding: 0;
	}

	.banner .content {

	}

	.banner .content h1 {
		display: block;
	}

	.banner .content h2 {
		
	}
}

/* INFORMATION SECTION */

.info.container {
	display: flex;
	background-color: #F8F8F8;
}

.info.main.one {
	display: flex;
	flex-direction: column;
	width: 60%;
	padding: 32px 24px;
}

.info.main.one img {
	width: 100%;
}

.info.main.one h2 {
	font-weight: bold;
	padding-top: 32px;
	padding-bottom: 24px;
}

h4.source {
	font-weight: bold;
}

.info.sub.one {
	display: flex;
	flex-direction: column;
	width: 40%;
}

.info.sub.container {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.info.sub.container.text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 65%;
}

.info.sub.container.text h4 {
	font-weight: bold;
}

.info.sub.container.text h5 {
	padding-top: 8px;
	padding-bottom: 8px;
}

.info.sub.container.text .link {
	font-size: 0.75rem;
	color: #3232ff;
}

.info.sub.container img {
	width: 35%;
	height: auto;
	align-self: center;
	padding: 16px 16px;
}

@media only screen and (max-width: 480px) {
	.info.main.one {
		display: none;
	}

	.info.sub.one {
		width: 100%;
	}

	.info.sub.container {
		display: flex;
		flex-direction: column;
	}

	.info.sub.container img {
		width: 100%;
		padding: 16px 16px;
	}

	.info.sub.container.text h4 {
		padding-left: 16px;
	}

	.info.sub.container.text h5 {
		padding-left: 16px;
	}

	.info.sub.container.text .link {
		padding-left: 16px;
		padding-bottom: 48px;
	}

	span#last.link {
		padding-bottom: 32px;
	}
}
/* COURSES */

.courses {
	background-color: #DCDCDC;
}

.courses h2 {
	text-align: center;
	font-weight: bold;
	padding-top: 32px;
	padding-bottom: 16px;
}

.courses.container {
	display: flex;
	flex-wrap: wrap;
	padding-left: 72px;
	padding-right: 40px;
}

.courses.topics {
	display: flex;
	flex-direction: column;
	padding-right: 32px;
	padding-bottom: 32px;
	width: 30%;
}

.courses.topics img {
	height: auto;
	max-width: 100%;
}

.courses.content {
	height: 50%;
	width: 100%;
	background-color: white;
}

h4.title {
	padding-top: 16px;
	padding-left: 16px;
	font-weight: bold;
}

h5.subtitle {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 16px;
}

h5.options {
	padding-left: 16px;
	padding-bottom: 24px;
	padding-right: 16px;
}

@media only screen and (max-width: 480px) {
	.courses.topics {
		width: 100%;
		padding-bottom: 8px;
	}

	h4#last.title {
		margin-bottom: 24px;
	}

	.courses.topics img {
		display: none;
	}

	h4.title {
		padding-top: 16px;
		padding-bottom: 24px;
		padding-left: 16px;
		background-color: darkgrey;
	}

	h5.subtitle {
		display: none;
	}

	h5.options {
		display: none;
	}
}

/* THESIS */

.thesis {
	background-color: #F8F8F8;
}

.thesis h2 {
	font-weight: bold;
	text-align: center;
	padding-top: 32px;
}

.info.main.two {
	display: flex;
	flex-direction: column;
	width: 60%;
	padding: 32px 24px;
}

.info.main video {
	width: 100%;
}

.info.main.two h2 {
	text-align: left;
}

.info.sub.two {
	display: flex;
	flex-direction: column;
	width: 40%;
}


@media only screen and (max-width: 480px) {
	.info.main.two {
		width: 100%;
		padding: 16px 0 24px 0;
	}

	.info.sub.two {
		display: none;
	}

	.info.main.two h2 {
		display: none;
	}

	.info.main.two h4 {
		display: none;
	}
}

/* FOOTER */

footer {
	display: flex;
	padding-top: 16px;
	padding-left: 24px;
	padding-bottom: 16px;
	background-color: #F8F8F8;
	border-top: 1px solid #DCDCDC;
}

h5.copyright {
	width: 50%;
}

.footer.links {
	display: flex;
	justify-content: flex-end;
	padding-right: 16px;
	width: 100%;
}

h5.terms {
	padding-right: 16px;
}

@media only screen and (max-width: 480px) {
	h5.copyright {
		width: 100%;
		text-align: center;
	}
	.footer.links {
		display: none;
	}
}