/* UNIVERSAL */

html {
	font-size: 18px;
	color: #4c4c4c;
}

body {
	font-family: Arial;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

/* HEADER */

header {
	display: flex;
	align-items: center;
	width: 100%;
	height: 64px;
	border: 1px solid grey;
}

header img {
	padding-left: 24px;
}

header .logo.text1 {
	display: flex;
	align-items: center;
	height: 32px;
	font-weight: bold;
}

header .logo.text2 {
	display: flex;
	align-items: center;
	height: 32px;
	color: grey;
}

nav {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

nav .menu {
	padding-right: 16px;
}

nav .menu.signin {
	padding-right: 24px;
}

/* TOP BANNER */

.banner {
	display: flex;
	border:1px solid grey;
	background-color: #f5f5f5;
}

.banner .content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.banner .content h1 {
	font-weight: bold;
}

.banner img {
	width: 60%;
	height: 100%;
	padding: 32px 24px;
}

.banner .content .button {
	width: 100%;
	color: white;
	background-color: #6f6f6f;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}

